* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 80px;
  background-color: #434343;
}

.header-items-wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-items {
  width: 150px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.header-items img {
  height: 25px;
  width: 25px;
}

.header-items a {
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #FFF3BF;
  transition: 1s;
}

.header-text:hover {
  font-size: 30px;
}

main {
  height: 100vh;
  background-color: #434343;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #434343;
}

.welcome-text {
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #FF8A5F;
}

.central-img-wrapper {
  margin-top: 50px;
  height: 450px;
  width: 446px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border-radius: 20px;
  background-color: #2b2b2b;
  overflow: hidden;
  transition: 1s;
}

.central-img {
  height: 430px;
  width: 430px;
  border-radius: 20px;
  transition: 1s;
}

.left-items-wrapper {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left-items-wrapper div {
  display: none;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #c0c0c0;
}

.right-items-wrapper {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.right-items-wrapper div {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #c0c0c0;
}

.btn-wrapper {
  margin-top: 50px;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.quote-text {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #FF8A5F;
}

.wish-btn {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.wish-btn::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #FF5733 0%, #ff8a5f 50%, #fff3bf 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.wish-btn:hover::before {
  width: 9em;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .header-items a {
    font-size: 100%;
  }
  .main {
    width: 100%;
  }
  .central-img-wrapper {
    width: 65%;
    height: 35%;
  }
  .central-img {
    width: 100%;
    height: auto;
  }
  .right-items-wrapper {
    width: 50%;
    justify-content: center;
    gap: 15%;
  }
  .left-items-wrapper {
    width: 50%;
    justify-content: center;
    gap: 15%;
  }
  .right-items-wrapper div {
    width: 50%;
    height: auto;
  }
  .right-items-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-items-wrapper div {
    width: 50%;
    height: auto;
  }
  .left-items-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wish-item-img {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .central-img-wrapper {
    height: 215px;
  }
  .right-items-wrapper div {
    width: 90%;
    height: auto;
  }
  .left-items-wrapper div {
    width: 90%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */